*.versionsBackup
tmp/
dist/
target/
*.patch
.eclipse/
.project
.classpath
.settings
*.name
*.iml
.idea/compiler.xml
.idea/encodings.xml
.idea/findbugs-idea.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/Maven__com_carrotsearch_hppc_0_5_3.xml
.idea/libraries/Maven__com_carrotsearch_junit_benchmarks_0_7_2.xml
.idea/libraries/proguard.xml
.idea/misc.xml
.idea/modules.xml
.idea/qaplug_profiles.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries/Maven__com_carrotsearch_randomizedtesting_randomizedtesting_runner_2_0_13.xml
.idea/libraries/Maven__com_google_guava_guava_15_0.xml
.idea/libraries/Maven__commons_cli_commons_cli_1_2.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
.idea/libraries/Maven__junit_junit_4_11.xml
.idea/libraries/Maven__org_easytesting_fest_assert_core_2_0M10.xml
.idea/libraries/Maven__org_easytesting_fest_util_1_2_5.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/uiDesigner.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
